{% extends "layout_adminLTE.html.twig" %}
{% set active = 'projectors' %}
{% set title = 'Projectors'|trans %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block content %}

  <h2 class="sub-header">{{ title }}</h2>
  {% if projectors is defined %}
  <div class="table-responsive">
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th>ID</th>
			  <th>Aula</th>
			  <th>Tipo</th>
			  <th>Marca</th>
			  <th>Modelo</th>
			  <th>Num serie</th>
			  <th>Referencia</th>
			  <th>Inventario</th>
			  <th>Roseta</th>
			  <th>IP</th>
			  <th>Ethernet</th>
			  <th>Fecha de compra</th>
			</tr>
		  </thead>

		  <tbody>
		  	{% for projector in projectors %}
                {% if projector.type == 1 %}
		  		<tr>
		  			<td>{{ projector.id }}</td>
		  			{#<td>{{ projector.room.id }}</td>#}
		  			<td><a href="{{ path('room_view', {'id': projector.room.id}) }}" title="Historial del {{ projector.room.room_name }}">{{ projector.room.room_name }}</a></td>
                    <td>{% if projector.type == 1 %}{#{ projector.type }#} Proyector {% endif %}</td>
					<td>{{ projector.brand }}</td>
		  			<td>{{ projector.model }}</td>
		  			<td>{{ projector.serialNum }}</td>
		  			<td>{{ projector.ref }}</td>
		  			<td>{{ projector.inventory }}</td>
		  			<td>{{ projector.roseta }}</td>
		  			<td>{{ projector.ip }}</td>
		  			<td>{{ projector.ethernet }}</td>
		  			<td>{{ projector.datePurchase|date("d/m/Y") }}</td>
	  			</tr>
                {% endif %}
		  	{% endfor %}

		  </tbody>
		</table>
		{% include "pagination.html.twig" %}
	</div>
	{% else %}
		No hay proyectores que mostrar.
	{% endif %}

{% endblock %}