{% extends "layout_adminLTE.html.twig" %}
{% set active = 'centers' %}
{% set title = 'Centers'|trans %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block content %}


{# Para probar y luego borrar #}
{# set centers = [{'name': 'Facultad de Derecho', 'id': '1'}, {'name': 'Facultad de Ciencias del Trabajo', 'id': '2'}] %#}

  <h2 class="sub-header">{{ 'Centers'|trans  }}</h2>
  <div class="table-responsive">
		
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>ID</th>
		  <th>Unidad</th>
	      <th>Nombre Corto</th>
			<th>Nombre</th>
	      <th>Descripción</th>
	    </tr>
	  </thead>

	  <tbody>
	    {% for center in centers %}
	    <tr>
			<td>{{ center.id }}</td>
		  <td>{% if center.unittech.name is defined %}
			  {{ center.unittech.name }}
			{% else %} {% endif %}</td>
			<td>{{ center.shortName }}</td>
	      <td><a href=""> {{ center.name }}</a></td>
	      <td>{{ center.description }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      {% include "pagination.html.twig" %}
	</div>
        
{% endblock %}