{% extends "layout_adminLTE.html.twig" %}
{% set active = 'centers' %}
{% set title = 'Units'|trans %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block content %}


{# Para probar y luego borrar #}
{# set centers = [{'name': 'Facultad de Derecho', 'id': '1'}, {'name': 'Facultad de Ciencias del Trabajo', 'id': '2'}] %#}

  <h2 class="sub-header">{{ 'Units'|trans  }}</h2>
  <div class="table-responsive">
		
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>Nombre</th>
	      <th>Descripción</th>
	    </tr>
	  </thead>

	  <tbody>
	    {% for unittech in unittechs %}
	    <tr>
	      <td>{{ unittech.id }}</td>
	      <td><a href="" title="Detalles de la Unidad Técnica {{ unittech.name }}"> {{ unittech.name }}</a></td>
	      <td>{{ unittech.description }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      {% include "pagination.html.twig" %}
	</div>
        
{% endblock %}