{% extends "layout_adminLTE.html.twig" %}
{% set active = 'issue' %}
{% set title = 'Issue Data Sheet'|trans %}

{% block content %}
    <div class="row" style="padding-top: 20px;">
        <div class="col-lg-8">
            <h2>
                <div class="btn-group pull-right">
                    <a href="{{ path('issues') }}" class="btn btn-white"
                       role="button"><i class="fa fa-list"></i> {{ 'Return to list'|trans }}</a> &nbsp;
                    <a href="{{ path('person_edit', {'id': issue.id}) }}" class="btn btn-white"
                       role="button"><i class="fa fa-pencil"></i> {{ 'Edit'|trans }}</a>
                </div>
                {{ 'Issue'|trans }} {{ issue.encryptedId }}</h2>
        </div>
    </div>
    <div class="row" style="padding-top: 20px">
        <div class="col-lg-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#personal" aria-controls="personal" role="tab"
                                                          data-toggle="tab">{{ 'Personal Data'|trans }}</a></li>
                <li role="presentation"><a href="#contact" aria-controls="contact" role="tab"
                                           data-toggle="tab">{{ 'Contact Data'|trans }}</a></li>
                <li role="presentation"><a href="#birth" aria-controls="birth" role="tab"
                                           data-toggle="tab">{{ 'Birth Data'|trans }}</a></li>
                <li role="presentation"><a href="#others" aria-controls="others" role="tab"
                                           data-toggle="tab">{{ 'Others'|trans }}</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active col-lg-6" id="personal" style="padding-top: 20px">
                    <dl class="dl-horizontal">
                        <dt>{{ 'Room'|trans }}:</dt>
                        <dd>{{ issue.room.room_name }} {{ issue.encryptedId }}</dd>

                        <dt>{{ 'User'|trans }}:</dt>
                        <dd>{{ issue.user.firstName }} {{ issue.user.lastName }}</dd>

                        <dt>{{ 'Notification date'|trans }}:</dt>
                        <dd>{{ issue.dateNotification|date('d/m/Y') }}</dd>

                        <dt>{{ 'Description'|trans }}:</dt>
                        <dd>{{ issue.description }}</dd>

                    </dl>
                </div>
                <div role="tabpanel" class="tab-pane" id="contact" style="padding-top: 20px">
                    <dl class="dl-horizontal">
                        <dt>{{ 'Email'|trans }}:</dt>
                        <dd>{{ issue.id }}</dd>
                    </dl>
                </div>
                <div role="tabpanel" class="tab-pane col-lg-6" id="birth" style="padding-top: 20px">
                    <dl class="dl-horizontal">
                        <dt>{{ 'Date of purchase'|trans }}:</dt>
                        <dd>{{ issue.dateNotification|date('d/m/Y') }}</dd>
                    </dl>
                </div>
                <div role="tabpanel" class="tab-pane col-lg-6" id="others" style="padding-top: 20px">
                    <dl class="dl-horizontal">
                        <dt>{{ 'State'|trans }}:</dt>
                        <dd>{{ issue.state_id }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

