{% extends "layout_adminLTE.html.twig" %}
{% set active = 'issues' %}
{% set title = 'Issues'|trans %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block content %}

  <h2 class="sub-header">{{ 'Issues'|trans  }}</h2>
  {% if issues is defined %}
  <div class="table-responsive">
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th>ID</th>
			  <th>ID encriptado</th>
			  <th>Aula</th>
			  <th>Incidencia</th>
			  <th>Fecha</th>
			  <th>Por</th>
			  <th>Categoría</th>
			  <th>Estado</th>
			</tr>
		  </thead>

		  <tbody>
			
			{% for issue in issues %}
		  		<tr>
		  		<td><a href="{{ path('issue_view', {'id': issue.id}) }}"><span class="badge badge-primary">{{ issue.id }}</span></a></td>
					<td><span class="badge badge-primary">{{ issue.encryptedId }}</span></td>
		  		<td><a href="{{ path('room_view', {'id': issue.room.id}) }}" title="Incidencias del {{ issue.room.room_name }}">{{ issue.room.room_name }}</a></td>
		  		<td><a href="{{ path('issue_view', {'id': issue.encryptedId}) }}" title="Detalles de la incidencia {{ issue.encryptedId }}">{{ issue.description }}</a></td>
		  		<td>{{ issue.dateNotification|date("d/m/Y") }}</td>
		  		<td><a href="{{ path('person_view', {'id': issue.user_id}) }}" title="Incidencias del usuario {{ issue.user_id }}">{{ issue.user.firstName }} {{ issue.user.lastName }}</a></td>
		  		<td><a href="{{ path('person_view', {'id': issue.category.id}) }}" title="Incidencias de la categoria {{ issue.category.name }}">{{ issue.category.name }}</a></td>
		  		<td>{% if issue.state_id == 4 %}
		  			<i class="fa fa-check-circle text-green"></i> Resuelto {{ issue.dateResolution|date("d/m/Y") }}
	  			{% else %}
	  				<i class="fa fa-close text-red"></i> En proceso
  				{% endif %}</td>
		  		</tr>
		  	{% endfor %}
			
		  </tbody>
		</table>
		{% include "pagination.html.twig" %}
	</div>
	{% else %}
		No hay incidencias que mostrar.
	{% endif %}
        
{% endblock %}