{% extends "layout_adminLTE.html.twig" %}
{% set active = 'rooms' %}
{% set title = 'Rooms'|trans %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block content %}

  <h2 class="sub-header">{{ title }}</h2>
  {% if rooms is defined %}
  <div class="table-responsive">
		<table class="table table-striped" id="example"">
		  <thead>
			<tr>
			  <th>ID</th>
				<th>Centro</th>
			  <th>Planta</th>
			  <th>Aula</th>
			  <th>Capacidad</th>
			  <th>Estado</th>
			</tr>
		  </thead>

		  <tbody>

		  	{% for room in rooms %}
		  		<tr>
		  			<td>{{ room.id }}</td>
					<td>
						{% for center in room.centers %}
						<a href="{{ path('center_view', {'id': center.id}) }}">{{ center.name }}</a>{% if not loop.last %}, {% endif %}
						{% endfor %}

					</td>
		  			<td>{{ room.area.area_name }}</td>
		  			<td><a href="{{ path('room_view', {'id': room.id}) }}" title="Historial del {{ room.room_name }}">{{ room.room_name }}</a></td>
		  			<td>{{ room.capacity }}</td>
		  			<td><i class="fa {% if room.disabled == 0 %}
		  				fa-check-circle text-green" aria-hidden="true"></i> Operativa.
		  			{% else %}
		  				fa-close text-red" aria-hidden="true"></i> No disponible.
		  			{% endif %}</td>
	  			</tr>
		  	{% endfor %}

		  </tbody>
		</table>
		{% include "pagination.html.twig" %}
	</div>
	{% else %}
		No hay aulas que mostrar.
	{% endif %}
        
{% endblock %}