{% extends "layout_adminLTE.html.twig" %}
{% set active = 'room_prepare' %}
{% set title = 'Rooms Prepare'|trans %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block content %}

  <h2 class="sub-header">{{ title }}</h2>
  {% if rooms is defined %}
  	<div class="row">
		{% for room in rooms %}
		<form action="" method="post">
			<div class="col-xs-12 col-sm-3 col-md-2">
			<button class="btn {{room.id}} btn-default btn-block proj" id="{{room.id}}" name="formEnviado" id="formEnviado">{{room.room_name}}</button>
			</div>
		</form>
		{% endfor %}
	</div>
{% else %}
	No hay aulas que mostrar.
{% endif %}

<div class="row">
	<div class="col-sm-3 .col-sm-offset-6 col-md-2 col-md-offset-4">
	<button class="btn btn-success btn-block proj" type="submit">Encender todos</button>
	</div>
	<div class="col-sm-3 col-md-2">
	<button class="btn btn-danger btn-block proj" type="submit">Apagar todos</button>
	</div>
</div>
        
{% endblock %}