{% extends "layout_adminLTE.html.twig" %}
{% set active = 'notices' %}
{% set title = 'Notices'|trans %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block content %}

  <h2 class="sub-header">{{ 'Notices'|trans  }}</h2>
  <div class="table-responsive">
		
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Título</th>
	      <th>Subtítulo</th>
	      <th>Fecha</th>
	    </tr>
	  </thead>

	  <tbody>
	    {% for new in notices %}
	    <tr>
	      <td>{{ new.title }}</td>
	      <td>{{ new.subtitle }}</td>
	      <td>{{ new.date|date("d/m/Y") }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	  {% include "pagination.html.twig" %}
  </div>
        
{% endblock %}